/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */
* {
	min-height: 21px;
	font-size: 12px;
	font-family: JetBrains Mono Nerd Font;
        font-weight: normal;
}

window#waybar {
	background: #1a1b26;
	opacity: 1;
    border-bottom: 0px solid rgba(26,27,38,0);
    border-radius: 0px;
	color: #ffffff;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */
#workspaces {
    background: #282e45;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    border-radius: 5px;
    font-style: normal;
    color: #ffffff;
}

#workspaces button {
    padding: 0px 0px;
    margin: 2px 2px;
    color: #ffffff;
    background-color: #282e45;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: #ffffff;
    background: #414868;
    border-radius: 7px;
    min-width: 30px;
    transition: all 0.3s ease-in-out;
    opacity: 1.0;
}

#workspaces button:hover {
    color: #ffffff;
    background: #414868;
    border-radius: 7px;
    opacity: 1.0;
}


/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */
tooltip {
  background: #292e39;
  border: 1px solid #6181c5;
  border-radius: 10px;
}

tooltip label {
  color: #c0caf5;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */
#window {
    color: #FFFFFF;
    background: #1a1b26;
    border-radius: 5px;
    margin: 2px;
    padding: 1px 10px;
}

#memory {
    color: #ffffff;
    background: #475078;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 10px;
}

#clock {
    color: #ffffff;
    background: #1a1b26;
    border-radius: 5px;
    margin: 1px 4px 1px 1px;
    padding: 0px 5px;
}

#cpu {
    color: #ffffff;
    background: #475078;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 10px;
}

#disk {
    color: #ffffff;
    background: #475078;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 10px;
}

custom#update {
    color: #ffffff;
    background: #1a1b26;
    border-radius: 5px;
    margin: 1px 0px 0px 1px;
    padding: 0px 5px;
}

custom#weather {
    color: #ffffff;
    background: #19191f;
    border-radius: 5px;
    margin: 1px 0px 0px 1px;
    padding: 0px 5px;
}


#tray {
    color: #ffffff;
    background: #19191f;
    border-radius: 5px;
    margin: 1px 4px 1px 1px;
    padding: 0px 5px;
}

#pulseaudio {
    color: #ffffff;
    background: #1a1b26;
    border-radius: 5px;
    margin: 1px 4px 1px 1px;
    padding: 0px 5px;
}

